In [1]:
import numpy as np
import pandas as pd
import math  

movieRating = pd.DataFrame(pd.read_csv('./data.csv'))
movieNames = pd.DataFrame(pd.read_csv('./movie_names.csv'))
contextPlace = pd.DataFrame(pd.read_csv('./context_place.csv'))
contextDay = pd.DataFrame(pd.read_csv('./context_day.csv'))

In [2]:
def sim(usrIndexA,usrIndexB):
    ratings = movieRating.iloc[[usrIndexA,usrIndexB],range(1,len(movieRating.columns))]
    badColumns = ratings[ratings == -1].dropna(axis=1, how='all').columns
    moviesWithRating = ratings.drop(axis=1, columns=badColumns)
    
    a = moviesWithRating.iloc[0,:].apply(lambda x: x*x).sum()
    b = moviesWithRating.iloc[1,:].apply(lambda x: x*x).sum()
    
    a = math.sqrt(a)
    b = math.sqrt(b)
    
    sumAB = (moviesWithRating.iloc[0,:] * moviesWithRating.iloc[1,:]).sum()
    res = sumAB/(a*b)
    return res

In [12]:
def getMean(userID):
    temp = movieRating.iloc[[userID],range(1,len(movieRating.columns))]
    res = temp.mean(axis=1)
    return res.values[0]

In [4]:
def getFilmRating(userID,filmID):
    rating = movieRating.iloc[[userID],range(1,len(movieRating.columns))]
    return  rating.iloc[[0],[filmID]].values

In [5]:
def getSumSim(userID):
    res=0;
    for i in range(0,len(movieRating.count()+1)):
        res = res + abs(sim(userID,i))
    return res;

In [19]:
def getSmthng(userID,filmID):
    res=0;
    for i in range(0,len(movieRating.count()+1)):
        rvi = getFilmRating(i,filmID)
        
        if(rvi != -1):
            usersSim = sim(userID,i)
        
            rv = getMean(i);
        
            res = res + usersSim*(rvi-rv)
        
    return res

In [7]:
def getEval(userID,filmID):
    sumSum = getSumSim(userID);
    smthng = getSmthng(userID,filmID)
    return getMean(userID)+(smthng/sumSum)

In [8]:
getEval(27,0)

array([[2.31677411]])

In [20]:
res = {}
for i in range(0,len(movieRating.columns)-1):
    rvi = getFilmRating(22,i)
    if(rvi == -1):
        res[i+1] = getEval(22,i);
print(res)

{3: array([[3.1037263]]), 6: array([[2.94430662]]), 7: array([[3.30849619]]), 9: array([[3.06939182]]), 21: array([[2.87787318]]), 22: array([[2.97266817]]), 26: array([[3.24729626]])}

In [10]:
movieRating.iloc[[22],range(1,len(movieRating.columns))][movieRating == -1].dropna(axis=1)

     Movie 3   Movie 6   Movie 7   Movie 9   Movie 21   Movie 22   Movie 26
22        -1        -1        -1        -1         -1         -1         -1

 Movie 1     1
 Movie 2     5
 Movie 6     2
 Movie 7     4
 Movie 9     4
 Movie 10    2
 Movie 11    5
 Movie 13    4
 Movie 14    1
 Movie 15    4
 Movie 16    5
 Movie 17    1
 Movie 18    3
 Movie 20    2
 Movie 21    5
 Movie 22    3
 Movie 23    1
 Movie 24    5
 Movie 25    2
 Movie 27    2
 Movie 28    2
 Movie 29    4
Name: 25, dtype: int64